.DS_Store
/Pods/FirebaseCore
/Pods/Target Support Files/FirebaseCore
/Pods/Target Support Files/SideMenu/SideMenu.debug.xcconfig
/Pods/Pods.xcodeproj/xcuserdata/student.xcuserdatad/xcschemes/FirebaseInstallations.xcscheme
/Pods/GoogleUtilities
/Pods/Target Support Files/TinyConstraints
/RodaxTravel.xcworkspace/xcuserdata/student.xcuserdatad/UserInterfaceState.xcuserstate
/Pods/TinyConstraints
/Pods/Target Support Files/Pods-RodaxTravel/Pods-RodaxTravel-frameworks-Release-output-files.xcfilelist
/Pods/FirebaseInstallations
/Pods/Target Support Files/PromisesObjC
/Pods/Target Support Files/Cosmos
/Pods/Target Support Files/Pods-RodaxTravel/Pods-RodaxTravel-frameworks.sh
/Pods/Target Support Files/FirebaseAnalytics
/Pods/Pods.xcodeproj/xcuserdata/student.xcuserdatad/xcschemes/Cosmos.xcscheme
/Pods/Pods.xcodeproj/xcuserdata/student.xcuserdatad/xcschemes/Firebase.xcscheme
/Pods/Cosmos
/Pods/Headers
/Pods/Target Support Files/Pods-RodaxTravel/Pods-RodaxTravel-acknowledgements.plist
/Pods/Target Support Files/SideMenu/SideMenu-dummy.m
/Pods/Target Support Files/Pods-RodaxTravel/Pods-RodaxTravel-acknowledgements.markdown
/Pods/Target Support Files/Pods-RodaxTravel/Pods-RodaxTravel-frameworks-Release-input-files.xcfilelist
/Pods/Pods.xcodeproj/xcuserdata/student.xcuserdatad/xcschemes/nanopb.xcscheme
/Pods/FirebaseCoreDiagnostics
/Pods/Pods.xcodeproj/xcuserdata/student.xcuserdatad/xcschemes/PromisesObjC.xcscheme
/Pods/Pods.xcodeproj/xcuserdata/student.xcuserdatad/xcschemes/GoogleAppMeasurement.xcscheme
/Pods/Target Support Files/Pods-RodaxTravel/Pods-RodaxTravel-frameworks-Debug-output-files.xcfilelist
/Pods/Pods.xcodeproj/xcuserdata/student.xcuserdatad/xcschemes/SideMenu.xcscheme
/Pods/Pods.xcodeproj/xcuserdata/student.xcuserdatad/xcschemes/xcschememanagement.plist
/Podfile.lock
/Pods/Pods.xcodeproj/xcuserdata/student.xcuserdatad/xcschemes/GoogleUtilities.xcscheme
/Pods/Target Support Files/GoogleUtilities
/Pods/Target Support Files/Firebase
/Pods/Target Support Files/Pods-RodaxTravel/Pods-RodaxTravel.debug.xcconfig
/Pods/Pods.xcodeproj/xcuserdata/student.xcuserdatad/xcschemes/FirebaseCoreDiagnostics.xcscheme
/Pods/Target Support Files/GoogleDataTransport
/Pods/Pods.xcodeproj/xcuserdata/student.xcuserdatad/xcschemes/TinyConstraints.xcscheme
/Pods/nanopb
/Pods/Target Support Files/Pods-RodaxTravel/Pods-RodaxTravel-frameworks-Debug-input-files.xcfilelist
/Pods/GoogleAppMeasurement
/Pods/Target Support Files/SideMenu/SideMenu-umbrella.h
/Pods/Target Support Files/SideMenu/SideMenu.modulemap
/Pods/Pods.xcodeproj/project.pbxproj
/Pods/Target Support Files/FirebaseCoreDiagnostics
/Pods/Pods.xcodeproj/xcuserdata/student.xcuserdatad/xcschemes/GoogleDataTransport.xcscheme
/Pods/Target Support Files/GoogleAppMeasurement
/Pods/FirebaseAnalytics
/Pods/Target Support Files/Pods-RodaxTravel/Pods-RodaxTravel.release.xcconfig
/Pods/PromisesObjC
/Pods/Pods.xcodeproj/xcuserdata/student.xcuserdatad/xcschemes/FirebaseCore.xcscheme
/Pods/Target Support Files/SideMenu/SideMenu-prefix.pch
/Pods/Manifest.lock
/Pods/Pods.xcodeproj/xcuserdata/student.xcuserdatad/xcschemes/FirebaseAnalytics.xcscheme
/Pods/Target Support Files/nanopb
/RodaxTravel.xcodeproj/xcuserdata/student.xcuserdatad/xcschemes/xcschememanagement.plist
/Pods/Target Support Files/SideMenu/SideMenu-Info.plist
/Pods/Target Support Files/FirebaseInstallations
/Pods/GoogleDataTransport
/Pods/Target Support Files/SideMenu/SideMenu.release.xcconfig
/Pods/Firebase
